{% extends 'catalog/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Наши контакты</h1>
        <p class="lead">Свяжитесь с нами, чтобы получить дополнительную информацию или заполните форму</p>
        <hr class="my-4">
        <address>
            <strong>Адрес:</strong><br>
            Галактическая Нить Персея-Пегаса, комплекс сверхскоплений Рыб-Кита, Ланиакея, сверхскопление Девы, Местная
            группа галактик, галактика Млечный Путь, рукав Ориона, Солнечная система, планета Земля, страна Россия,
            город Пенза, улица Пушкина, дом Колотушкина
        </address>
        <p><strong>Телефон:</strong> +7 (123) 456-7890</p>
        <p><strong>Страна:</strong> Россия</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post" action="" class="form-floating">
            {% csrf_token %}
            <div class="form-group mb-4">
                <label for="name">Имя:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group mb-4">
                <label for="phone">Телефон:</label>
                <input type="tel" class="form-control" id="phone" name="phone" required>
            </div>
            <div class="form-group mb-4">
                <label for="message">Сообщение:</label>
                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}
